* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(51, 51, 51);
}

.header-mid {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#logo-pic {
    position: absolute;
    left: 0;
    top: 40px;
    margin-top: -22px;
}

.header-mid ul {
    float: right;
    margin-top: 10px;
}

li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

a {
    color: white;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.banner {
    width: 100%;
    background-color: rgb(102, 187, 51);
    height: 320px;
    position: relative;
}

.banner ul {
    position: absolute;
    bottom: 10px;
    right: 180px;
}

.banner li {
    width: 30px;
}

.banner ul li a {
    border: 1px solid rgb(78, 77, 77);
    text-decoration: none;
    line-height: 2;
    background-color: rgb(178, 221, 153);
    color: black;
}

.banner ul li a:hover, .banner ul li a:active {
    height: 40px;
    background-color: white;
}

.nav {
    width: 960px;
    margin: 10px auto;
    overflow: auto;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.nav ul li {
    width: 100px;
    margin: 0;
}

.nav ul li a {
    font-size: 16px;
    line-height: 3;
    border-top: 1px solid rgb(220, 220, 220);
    border-left: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-radius: 20px 20px 0 0;
    color: black;
    text-decoration: none;
    background-color: rgb(238, 238, 238);
}

.nav ul li a:hover, .nav ul li a:active {
    background-color: white;
    border-bottom-color: white;
}

/* .front, .behind {
    display: inline-block;
    height: 1px;
}

.front {
    width: 194px;
    
}

.behind {
    width: 855px;
    background-color: rgb(238, 238, 238);
}

.first, .second, .third {
    height: 1px;
    display: inline-block;
    width: 100px;
    background-color: rgb(238, 238, 238);
}  */

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(102, 102, 102);
    text-align: center;
    line-height: 100px;
}

.content1 {
    border: 1px solid rgb(210, 210, 210);
    flex: 1 1 auto;
    height: 150px;
    padding: 80px;
    margin: 10px;
}

.content2 {
    border: 1px solid rgb(210, 210, 210);
    flex: 1 1 auto;
    height: 150px;
    padding: 80px;
    margin: 10px;
}

.content3 {
    border: 1px solid rgb(210, 210, 210);
    flex: 1 1 auto;
    height: 150px;
    padding: 80px;
    margin: 10px;
}