* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: flex-start;
}

.left {
    flex: 0 0 auto;
    width: 150px;
    background-color: aqua;
}

.right {
    flex: 0 0 auto;
    width: 150px;
    background-color: blueviolet;
}

.middle {
    flex: 1 1 auto;
    background-color: blue;
}