* {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
    width: 150px;
    background-color: aqua;
}

.right {
    float: right;
    width: 150px;
    background-color: blueviolet;
}

.middle {
    float: left;
    width: calc(100% - 300px);
    background-color: blue;
}