* {
    margin: 0;
    padding: 0;
}

.left2 {
    float: left;
    width: calc(100% - 200px);
    background-color: aqua;
}

.right2 {
    float: right;
    width: 200px;
    background-color: brown;
}