
main{
    margin: 0 auto;
    width: 60%;
    background-color: aliceblue;

}
h1{
    margin: 20px 0;
}
h2{
    margin: 15px 0;
    
}
strong{
    margin-right: 10px;
}
.info-contact{
    display: flex;
    justify-content: flex-start;
}
.info-contact p{
    flex:0 1 250px;
}